/*
 * APP MAIN STYLE
 */
body {
  font-family: "Nunito", sans-serif;
  color: #333;
  background: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 16px;
}

header .brand img {
  margin-left: 44%;
}

/**
 * Product section
 */
.cards {
  display: flex;
  flex-wrap: wrap;
}
.cards .card {
  flex-basis: 32%;
  margin-right: 1%;
  margin-bottom: 30px;
}