// Layout
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 40px;
    margin-top: 50px;
    margin-left: 41.6%;
    list-style: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 16px;
}

.cont-img, 
.cont-text1 {
    margin-left: 18.6%;
}

.cont-text1 .text-2,
.cont-text1 .text-3,
.cont-text1 .text-4,
.cont-text1 .text-5,
.cont-text1 .text-6,
.cont-text1 .text-7,
.cont-text1 .text-8,
.cont-text1 .text-9,
.cont-text1 .text-10,
.cont-text1 .text-11 {
    position: absolute;
    margin-top: 96px;
}

.cont-text1 .text-1,
.cont-text1 .text-2,
.cont-text1 .text-3,
.cont-text1 .text-4,
.cont-text1 .text-5,
.cont-text1 .text-6,
.cont-text1 .text-7,
.cont-text1 .text-8,
.cont-text1 .text-9,
.cont-text1 .text-10,
.cont-text1 .text-11 {
    color: $tertiary-col;
}