// COLORS
$back-col-1: #f2f2f2;
$back-col-2: #b7dae5;
$text-col: #333;

$blue: #b2e5fc;
$grey: #88919e;
$white: #fff;

$primary-col: #000;
$secondary-col: #002d73;
$tertiary-col: #8a93a0;

// TYPOGRAPHY
$main-font: 'Nunito', sans-serif;